// Colors
$lightCyan:hsl(193, 38%, 86%);
$neonGreen:hsl(150, 100%, 66%);
$grayishBlue:hsl(217, 19%, 38%);
// Card Color
$darkGrayishBlue:hsl(217, 19%, 24%);
// Background Color
$darkBlue:hsl(218, 23%, 16%);


// Font 
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');


* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img{
    max-width:100%;
}

body {
    display:grid;
    grid-template-rows: repeat(auto-fit,minmax(500px,1fr));
    align-items:center;
    justify-content: center;
    background:$darkBlue;
    padding:5px;
    margin-right:8%;
}


.card{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    background:$darkGrayishBlue;
    min-height:300px;
    min-width:270px;
    border-radius:2%;
    margin-left:5%;
}


h1{
    font-size:1.20rem;
    font-family:"Manrope";
    font-weight:800;
    letter-spacing:3px;
    color:$neonGreen;
    margin-top:2%;
}

#advice{
    font-size:1.25rem;
    margin-left:2%;
    line-height:1.4;
    font-family:"Manrope";
    font-weight:800;
    color:$lightCyan;
}

picture{
    margin-bottom:-2.25rem;
}

.btn{
    border-radius:50%;
    min-height:3rem;
    min-width:3rem;
    position:relative;
    margin-bottom:-1.20rem;
    background:$neonGreen;
}


// The Default font-size is 16px;


@media only screen and (min-width:500px){
    .card{
        max-width:500px;
    }
    .btn{
        height:4rem;
        width:4rem;
    }
}